<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required [(ngModel)]="authData.username" name="username">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" required [(ngModel)]="authData.password" name="password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="login(mymodal)">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <!-- <button type="button" class="btn btn-link px-0">Forgot password?</button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Data SEO Visualization</h2>
                  <p>Tugas Akhir Dan Skripsi</p>
                  <!-- <button type="button" class="btn btn-primary active mt-3">Register Now!</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header bg-warning">
    <h4 class="modal-title" id="modal-basic-title">Login Error</h4>
  </div>
  <div class="modal-body">
    {{Message}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>