<div class="row" *ngIf="sumaryStatus">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="text-value">Total : {{backLinkSumary.totalBackLink}}</div>
          <div>BackLink</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">Total : {{backLinkSumary.totalSite}} </div>
          <div>Linked Site</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">Position : {{backLinkSumary.totalTargetPage}}</div>
          <div>Target Page</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">Total: {{backLinkSumary.totalBackLinkKeyword}}</div>
          <div>Back Link From Keyword</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
    
  
  </div>
  <!--/.row-->
  
  <!-- TABEL BACKLINK SITE -->
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Back Link Site</strong>
        <div class="card-header-actions">
          <!-- " -->
          <a *ngIf="notDisable === false">
            <i class="fa fa-refresh fa-lg fa-spin fa-fw"></i>
            <!-- <span class="sr-only">Loading...</span> -->
            <strong> Updating Data...</strong>
          </a>
          <fieldset *ngIf="notDisable">
            <button class="btn btn-sm btn-primary" (click)="updateData()">Update</button>
          </fieldset>
  
  
        </div>
      </div>
      <div class="card-body">
        <!-- *ngIf="rankTrackingKeywordStatus" -->
        <table datatable [dtOptions]="dtOptionsSite" [dtTrigger]="dtTriggerSite" class="row-border hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Site</th>
              <th>Total Linked</th>
              <th>Total Target Page</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of backLinkSite; index as i;">
              <td>{{i+1}}</td>
              <td>{{ item.url}}</td>
              <td>{{ item.linking_page}}</td>
              <td>{{ item.target_page}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- TABEL BACKLINK Target PAGE -->

  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Target Page</strong>
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <!-- *ngIf="rankTrackingKeywordStatus" -->
        <table datatable [dtOptions]="dtOptionsTarget" [dtTrigger]="dtTriggerTarget" class="row-border hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Page URL</th>
              <th>Incoming Link</th>
              <th>Linking Site</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of backLinkTarget; index as i;">
              <td>{{i+1}}</td>
              <td>{{ item.target_page}}</td>
              <td>{{ item.incoming_link}}</td>
              <td>{{ item.linking_site}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- TABEL BACKLINK KEYWORDS -->
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Back Link From Keywords</strong>
        <div class="card-header-actions">
        </div>
      </div>
      <div class="card-body">
        <!-- *ngIf="rankTrackingKeywordStatus" -->
        <table datatable [dtOptions]="dtOptionsKeyword" [dtTrigger]="dtTriggerKeyword" class="row-border hover">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Keyword</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of backLinkKeyword; index as i;">
              <td>{{item.rank}}</td>
              <td>{{ item.keyword}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
