<div class="row">

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-success">
      <div class="card-body pb-0">
        <div class="text-value">Position : {{dataDashboard.rank}}</div>
        <div>Rank</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <div class="text-value">Total : {{dataDashboard.todayTafic}}</div>
        <div>Today Trafic</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="text-value">Total: {{dataDashboard.totalBackLink}}</div>
        <div>Total Backlink</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>
  
</div>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div *ngIf="notInUpdate === false" class="col col-sm-12 d-flex flex-row-reverse ">
          <a >
            <i class="fa fa-refresh fa-lg fa-spin fa-fw"></i>
            <span class="sr-only">Loading...</span>
            <strong> Updating Data...</strong>
          </a>
        </div>
        <div class="col col-sm-12 d-flex flex-row-reverse " *ngIf="notInUpdate">          
          <button class="btn btn-sm btn-primary" (click)="updateData()">Update</button>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-3 ">
          <div class="callout callout-info">
            <small class="text-muted">Total Trafic</small>
            <br>
            <strong class="h4">{{dataDashboard.totalTrafic}}</strong>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-3">
          <div class="callout callout-success">
            <small class="text-muted">Total Click</small>
            <br>
            <strong class="h4">{{dataDashboard.totalClick}}</strong>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-3">
          <div class="callout callout-info">
            <small class="text-muted">Total CTR</small>
            <br>
            <strong class="h4">{{dataDashboard.totalCTR}}</strong>
          </div>
        </div>
        <!--/.col-->
        <div class="col-sm-3">
          <div class="callout callout-danger">
            <small class="text-muted">Total Keyword Used</small>
            <br>
            <strong class="h4">{{dataDashboard.totalKeyword}}</strong>
          </div>
        </div>
        <!--/.col-->
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic Last 30 Days</h4>
          <div class="small text-muted">Last Update {{jstoday}}</div>
        </div>
      </div>
      <div class="chart-wrapper" style="height:300px;margin-top:40px;" >
        <canvas *ngIf="chartReady" baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <hr>
    
  </div>