<div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="text-value">Total : {{devicetrafic.mobile}}</div>
          <div>Mobile Device Trafic</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">Trafic :{{devicetrafic.desktop}} </div>
          <div>Web Browser Trafic</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
     
  </div>
<!--/.row-->
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic Last 30 Days</h4>
          <div class="small text-muted">Last Update {{nowTime | date:'medium'}}</div>
        </div>
      </div>
      <div class="chart-wrapper" style="height:300px;margin-top:40px;" >
        <canvas *ngIf="chartReady" baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
          [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend"
          [chartType]="mainChartType"></canvas>
      </div>
    </div>
    <div class="card-footer" *ngIf="this.chartReady">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Visits</div>
          <hr style="margin-top: 1px; margin-bottom: 1px;"> 
          <strong>{{traficAnalystSumary.totalVisit}} Click</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Trafic</div>
          <hr style="margin-top: 1px; margin-bottom: 1px;"> 
          <strong>{{traficAnalystSumary.totalTrafic}} Trafic</strong>
          
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">CTR</div>
          <hr style="margin-top: 1px; margin-bottom: 1px;"> 
          <strong>{{traficAnalystSumary.averageCTR}} %</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">KeyWord Used</div>
          <hr style="margin-top: 1px; margin-bottom: 1px;"> 
          <strong>{{traficAnalystSumary.totalKeyword}} Unique Keyword</strong>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Averange Position</div>
          <hr style="margin-top: 1px; margin-bottom: 1px;"> 
          <strong>{{traficAnalystSumary.averagePosition}}</strong>
        </div>
      </div>
    </div>
  </div>

  <!--/.row-->
  <div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Trafic Per Page</strong>
        <div class="card-header-actions">
          <!-- " -->
          <a *ngIf="notDisable === false">
            <i class="fa fa-refresh fa-lg fa-spin fa-fw"></i>
            <!-- <span class="sr-only">Loading...</span> -->
            <strong> Updating Data...</strong>
          </a>
          <fieldset *ngIf="notDisable">
            <button class="btn btn-sm btn-primary" (click)="updateData()">Update</button>
          </fieldset>
  
  
        </div>
      </div>
      <div class="card-body">
        <!-- *ngIf="rankTrackingKeywordStatus" -->
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Page</th>
              <th>Total Trafic</th>
              <th>Total Click</th>
              <th>CTR</th>
              <th>Impresion</th>
              <th>Avg Position</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of traficPages; index as i;">
              <td>{{i+1}}</td>
              <td>{{ item.page}}</td>
              <td>{{ item.trafic }}</td>
              <td>{{ item.click }}</td>
              <td>{{ item.ctr}}</td>
              <td>{{ item.impresion}}</td>
              <td>{{ item.position}}</td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="viewData(item.page,modalViewPage)">Detail &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <button class="btn btn-sm btn-warning" (click)="viewKeywordDetail(item.page,modalKeyword)">Keywords</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #modalViewPage let-modal>

    <div class="modal-header bg-info">
      <h4 class="modal-title" id="modal-basic-title">Detail Trafic Page</h4>
    </div>
    <div class="modal-body">
      
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup" >Link</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">URL :</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup"value="{{url}}" disabled>
            </div>
          </div>

          <hr class="pt-1 pb-1">


      <table datatable [dtOptions]="dtOptionsDetail" *ngIf="vievDetail" class="row-border hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Date</th>
            <th>Keyword</th>
            <th>Country</th>
            <th>Device</th>
            <th>Click</th>
            <th>CTR</th>
            <th>Impresion</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of detailTraficPage; index as i;">
            <td>{{i+1}}</td>
            <td>{{ item.date}}</td>
            <td>{{ item.key}}</td>
            <td>{{ item.country }}</td>
            <td>{{ item.device }}</td>
            <td>{{ item.click }}</td>
            <td>{{ item.ctr}}</td>
            <td>{{ item.impresion }}</td>
            <td>{{ item.position }}</td>
          </tr>
        </tbody>
      </table>
  
  
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
    </div>
  </ng-template>

  <ng-template #modalKeyword let-modal>

    <div class="modal-header bg-info">
      <h4 class="modal-title" id="modal-basic-title">Keywords List Page</h4>
    </div>
    <div class="modal-body">
      
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup" >Link</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">URL :</div>
              </div>
              <input type="text" class="form-control" id="inlineFormInputGroup"value="{{url}}" disabled>
            </div>
          </div>

          <hr class="pt-1 pb-1">


      <table datatable [dtOptions]="dtOptionsKeyword" *ngIf="viewKeyword" class="row-border hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Keyword</th>
            <th>Trafic</th>
            <th>Click</th>
            <th>CTR</th>
            <th>Impresion</th>
            <th>Position</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageTraficKeyword; index as i;">
            <td>{{i+1}}</td>
            <td>{{ item.keyword}}</td>
            <td>{{ item.trafic}}</td>
            <td>{{ item.click }}</td>
            <td>{{ item.ctr }}</td>
            <td>{{ item.impresion }}</td>
            <td>{{ item.position}}</td>
          </tr>
        </tbody>
      </table>
  
  
    </div>
    <div class="modal-footer">
      <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
    </div>
  </ng-template>