<div class="row">

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-success">
      <div class="card-body pb-0">
        <div class="text-value">Position : {{rankTrackingSumary.max_rank}}</div>
        <div>Max Rank</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <div class="text-value">Position : {{rankTrackingSumary.min_rank}}</div>
        <div>Average Rank</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-warning">
      <div class="card-body pb-0">
        <div class="text-value">Position : {{rankTrackingSumary.avg_rank}}</div>
        <div>Min Rank</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="text-value">Total: {{rankTrackingSumary.unranked}}</div>
        <div>Total Unranked</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
      </div>
    </div>
  </div>
  

</div>
<!--/.row-->
<div class="card">
  <div class="card-body">
    <div class="row ">
      <!--/.col-->
      <div class="col-sm-3">
        <div class="callout callout-success">
          <small class="text-muted">Total TOP 3</small>
          <br>
          <button class="btn btn-md btn-outline-success" (click)="viewTop3(modalViewTopData)">
            <strong class="h4">{{topKwyword.top_3}} Keywords</strong>
          </button>
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-3">
        <div class="callout callout-info">
          <small class="text-muted">Total TOP 5</small>
          <br>
          <button class="btn btn-md btn-outline-info" (click)="viewTop5(modalViewTopData)">
            <strong class="h4">{{topKwyword.top_5}} Keywords</strong>
          </button>
          
        </div>
      </div>
      <!--/.col-->
      <div class="col-sm-3">
        <div class="callout callout-warning">
          <small class="text-muted">Total Top 10</small>
          <br>
          <button class="btn btn-md btn-outline-warning" (click)="viewTop10(modalViewTopData)">
            <strong class="h4">{{topKwyword.top_10}} Keywords</strong>
          </button>
        </div>
      </div>
      <!--/.col-->
    </div>
  </div>
</div>

<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Rank Tracking</strong>
      <div class="card-header-actions">
        <!-- " -->
        <a *ngIf="notDisable === false">
          <i class="fa fa-refresh fa-lg fa-spin fa-fw"></i>
          <!-- <span class="sr-only">Loading...</span> -->
          <strong> Updating Data...</strong>
        </a>
        <fieldset *ngIf="notDisable">
          <button class="btn btn-sm btn-success" (click)="addKeyword(modalAdd)">Add Keyword</button>
          <button class="btn btn-sm btn-primary" (click)="updateData()">Update</button>
        </fieldset>


      </div>
    </div>
    <div class="card-body">
      <!-- *ngIf="rankTrackingKeywordStatus" -->
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Keyword</th>
            <th>Max Rank</th>
            <th>Avg Rank</th>
            <th>Min Rank</th>
            <th>Last Update</th>
            <th>Option</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rankTrackingKeywords; index as i;">
            <td>{{i+1}}</td>
            <td>{{ item.keyword}}</td>
            <td>{{ item.max_rank }}</td>
            <td>{{ item.avg_rank }}</td>
            <td>{{ item.min_rank}}</td>
            <td>{{ item.last_update}}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="viewData(item.id, item.keyword ,modalView)">View</button>
              <button class="btn btn-sm btn-danger"
                (click)="deleteData(item.id, item.keyword, modalDelete)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- modal view Data -->
<ng-template #modalView let-modal>

  <div class="modal-header bg-info">
    <h4 class="modal-title" id="modal-basic-title">Rank Tracking Log For : "{{keyword}}"</h4>
  </div>
  <div class="modal-body">
    
    <table datatable [dtOptions]="dtOptionsLog" *ngIf="viewDetail" class="row-border hover">
      <thead>
        <tr>
          <th>No</th>
          <th>Curent Rank</th>
          <th>Page URL</th>
          <th>Update Time</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rankTrackingLog; index as i;">
          <td>{{i+1}}</td>
          <td>{{ item.rank}}</td>
          <td>{{ item.page }}</td>
          <td>{{ item.date_time }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)=viewGraph(item.page,item.keyword_id,modalViewGraph)>
              View Graph
            </button>
          </td> 
        </tr>
      </tbody>
    </table>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
  </div>
</ng-template>

<!-- modal Add Data -->
<ng-template #modalAdd let-modal>

  <div class="modal-header bg-success">
    <h4 class="modal-title" id="modal-basic-title">Add Keyword</h4>
  </div>
  <div class="modal-body">

    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="text-input">Keywords</label>
      <div class="col-md-10">
        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="keyword"
          [(ngModel)]="newKeyword" name="keyword">
        <!-- <span class="help-block"><</i></span> -->
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="unvalid"><i>Data Tidak Valid !!</i></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-success" (click)="saveKeyword()">&nbsp; Save &nbsp;</button>
    <button class="btn btn-sm btn-danger" (click)="modal.close('Cancel click')">&nbsp; Cancel &nbsp;</button>
  </div>
</ng-template>

<!-- modal Delete Data -->
<ng-template #modalDelete let-modal>

  <div class="modal-header bg-deanger">
    <h4 class="modal-title" id="modal-basic-title">Delete Keyword</h4>
  </div>
  <div class="modal-body">

    <p>
      Hapus Data Keyword : "{{keyword}}" ?
    </p>
    <div class="alert alert-danger" *ngIf="unvalid"><i>Data Tidak Valid !!</i></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-danger" (click)="deleteKeyword()">&nbsp; Delete &nbsp;</button>
    <button class="btn btn-sm btn-primary" (click)="modal.close('Cancel click')">&nbsp; Cancel &nbsp;</button>
  </div>
</ng-template>

<!-- modal view Data graph -->
<ng-template #modalViewGraph let-modal>

  <div class="modal-header bg-info">
    <h4 class="modal-title" id="modal-basic-title">Visual :</h4>
  </div>
  <div class="modal-body">
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup" >Link</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">URL :</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroup" value="{{urlPage}}" disabled>
      </div>
    </div>
    <!-- graph -->
    <div class="col-auto">
      <div class="col-sm-5">
        <h4 class="card-title mb-0">Rank Last 30 Days</h4>
      </div>
    </div>
    <div class="chart-wrapper col-auto" style="height:300px;margin-top:40px;" >
      <canvas *ngIf="chartReady" baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
        [options]="mainChartOptions" [colors]="mainChartColours" 
        [chartType]="mainChartType"></canvas>
    </div>
    <hr>
    <!-- end graph -->
    <div class="col-auto "> 
      <table datatable [dtOptions]="dtOptionsLogGraph" *ngIf="viewDetailGraph" class="row-border hover">
        <thead>
          <tr>
            <th>No</th>
            <th>Rank</th>
            <th>Page URL</th>
            <th>Update Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rankTrackingLogGraph; index as i;">
            <td>{{i+1}}</td>
            <td>{{ item.rank}}</td>
            <td>{{ item.page }}</td>
            <td>{{ item.date_time }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
  </div>
</ng-template>

<!-- modal view TOP Data  -->
<ng-template #modalViewTopData let-modal>

  <div class="modal-header bg-info">
    <h4 class="modal-title" id="modal-basic-title">Top {{dialogTop}} Keyword</h4>
  </div>
  <div class="modal-body">
    
    <table datatable [dtOptions]="dtOptionsTopData" *ngIf="statusOpenTopData" class="row-border hover">
      <thead>
        <tr>
          <th>No</th>
          <th>Keyword</th>
          <th>Max Rank</th>
          <th>Avg Rank</th>
          <th>Min Rank</th>
          <th>Last Update</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rankTrackingTopKeyword; index as i;">
          <td>{{i+1}}</td>
          <td>{{ item.keyword}}</td>
          <td>{{ item.max_rank }}</td>
          <td>{{ item.avg_rank }}</td>
          <td>{{ item.min_rank}}</td>
          <td>{{ item.last_update}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="viewData(item.id, item.keyword ,modalView)">View</button>            
          </td>
        </tr>
      </tbody>
    </table>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
  </div>
</ng-template>