<!-- <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="text-value">Position : {{rankTrackingSumary.max_rank}}</div>
          <div>Max Rank</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">Position : {{rankTrackingSumary.min_rank}}</div>
          <div>Average Rank</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">Position : {{rankTrackingSumary.avg_rank}}</div>
          <div>Min Rank</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">Total: {{rankTrackingSumary.unranked}}</div>
          <div>Total Unranked</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:30px;">
        </div>
      </div>
    </div>
    
  
  </div> -->
<!--/.row-->


<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Keyword Planner</strong>
            <div class="card-header-actions">
                <!-- " -->
                <a *ngIf="notInUpdate === false">
                    <i class="fa fa-refresh fa-lg fa-spin fa-fw"></i>
                    <!-- <span class="sr-only">Loading...</span> -->
                    <strong> Updating Data...</strong>
                </a>
                <fieldset *ngIf="notInUpdate">
                    <button class="btn btn-sm btn-success" (click)="addDataKeyword(modalAdd)">Add Keyword</button>
                    <button class="btn btn-sm btn-primary" (click)="updateData()">Update</button>
                </fieldset>


            </div>
        </div>
        <div class="card-body">

            <!-- *ngIf="rankTrackingKeywordStatus" -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Keyword</th>
                        <th>CPC</th>
                        <th>Volume</th>
                        <th>Competition</th>
                        <th>All In Title</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of keyWordPlanner; index as i;">
                        <td>{{i+1}}</td>
                        <td>{{ item.keyword}}</td>
                        <td>{{ item.cpc}}</td>
                        <td>{{ item.volume }}</td>
                        <td>{{ item.competition}}</td>
                        <td class="{{warna}}">
                            <strong>{{ item.allinsearch}}</strong>{{getAllinTitleStatus(item.allinsearch) | async}}</td>
                        <td>
                            <button class="btn btn-sm btn-primary"
                                (click)="viewData(item.id, item.keyword ,modalView,item.related_search)">Detail</button>
                            <button class="btn btn-sm btn-danger"
                                (click)="deleteKeywordBtn(item.id,modalDelete, item.keyword)">Delete</button>
                            <button class="btn btn-sm btn-success"
                                (click) = "viewRelated(item.keyword, modalRelatedKeyword)">Related Keyword</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- modal view Data -->
<ng-template #modalView let-modal>

    <div class="modal-header bg-info">
        <h4 class="modal-title" id="modal-basic-title">Search Volume History</h4>
    </div>
    <div class="modal-body">

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Keyword :</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" value="{{keyword}}" disabled>
            </div>
        </div>


        <div class="form-group">
            <label for="exampleFormControlTextarea1">Related Search :</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" value="{{relatedSearch}}"
                readonly></textarea>
        </div>
        <hr class="pt-1 pb-1">

        <div class="col-auto">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">Search Volume Last 2 Year</h4>
            </div>
        </div>
        <div class="chart-wrapper col-auto" style="height:300px;margin-top:40px;">
            <canvas *ngIf="chartReady" baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels"
                [options]="mainChartOptions" [colors]="mainChartColours" [chartType]="mainChartType"></canvas>
        </div>
        <hr>

        <table datatable [dtOptions]="dtOptionsHistory" *ngIf="viewDetail" class="row-border hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Search Volume</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of keyWordPlanerHistory; index as i;">
                    <td>{{i+1}}</td>
                    <td>{{ item.year}}</td>
                    <td>{{ item.month }}</td>
                    <td>{{ item.search_volume }}</td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
    </div>
</ng-template>

<!-- modal Add Data -->
<ng-template #modalAdd let-modal>

    <div class="modal-header bg-success">
        <h4 class="modal-title" id="modal-basic-title">Add Keyword</h4>
    </div>
    <div class="modal-body">

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="text-input">Keywords</label>
            <div class="col-md-10">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="keyword"
                    [(ngModel)]="addKeyword" name="keyword">
                <!-- <span class="help-block"><</i></span> -->
            </div>
        </div>
        <div class="alert alert-danger" *ngIf="unvalid"><i>Data Tidak Valid !!</i></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-success" (click)="saveDataKeyword()">&nbsp; Save &nbsp;</button>
        <button class="btn btn-sm btn-danger" (click)="modal.close('Cancel click')">&nbsp; Cancel &nbsp;</button>
    </div>
</ng-template>

<!-- modal Delete Data -->
<ng-template #modalDelete let-modal>

    <div class="modal-header bg-deanger">
        <h4 class="modal-title" id="modal-basic-title">Delete Keyword</h4>
    </div>
    <div class="modal-body">

        <p>
            Hapus Data Keyword : "{{keyword}}" ?
        </p>
        <div class="alert alert-danger" *ngIf="unvalid"><i>Data Tidak Valid !!</i></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-danger" (click)="deteKeyword()">&nbsp; Delete &nbsp;</button>
        <button class="btn btn-sm btn-primary" (click)="modal.close('Cancel click')">&nbsp; Cancel &nbsp;</button>
    </div>
</ng-template>

<!-- Related Keyword -->
<ng-template #modalRelatedKeyword let-modal>

    <div class="modal-header bg-info">
        <h4 class="modal-title" id="modal-basic-title">Related Keyword Recomendation</h4>
    </div>
    <div class="modal-body">

        <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Keyword :</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroup" value="{{keyword}}" disabled>
            </div>
        </div>

        <div class="col-auto">
            <table datatable [dtOptions]="dtOptionsRelatedKeyword" *ngIf="viewRelatedKeyword" class="row-border hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Recomend Related Keyword</th>
                        <th>Avg Search Position</th>
                        <th>Avg Impresion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of relatedKeyword; index as i;">
                        <td>{{i+1}}</td>
                        <td>{{ item.keyword}}</td>
                        <td>{{ item.avgPosition }}</td>
                        <td>{{ item.avgImpresion }}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        


    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="modal.close('Save click')">&nbsp; Ok &nbsp;</button>
    </div>
</ng-template>